.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ffffff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #121212;
    border: 1px solid #121212;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 100;
}

.card p {
    margin: 0 0 20px;
    font-size: 1em;
}

.card-actions {
    display: flex;
    gap: 10px;
}

.card-actions button {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%); /* Adjust gradient colors for hover */
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 14px;
    font-size: 1em;
}

.card-actions button:hover {
    background: linear-gradient(to right, #72C3EE 0%, #9F9BEA 100%); /* Adjust gradient colors for hover */
}

/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: #ffffff;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content p {
    margin: 10px 0;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.modal-content button {
    background-color: #6200ea;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
}

.modal-content button:hover {
    background-color: #3700b3;
}

.qr-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-modal-content {
    background-color: #121212;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media print {
    .print-btn {
        display: none;
    }
}

.print-btn {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%); /* Adjust gradient colors for hover */
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 6px 10px;
    font-size: 1em;
    text-align: center;
    margin: 10px 5px;
}

.edit-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.edit-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.edit-modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.edit-modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-modal-content label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #333;
}

.edit-modal-content input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.edit-modal-content button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-modal-content button:hover {
    background-color: #45a049;
}

.edit-modal .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.edit-modal .close:hover,
.edit-modal .close:focus {
    color: black;
}